#canvas{
    background-color:  #36182c;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline;
    position: absolute;
}

.dialog{
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden{
    display: none;
}

#input-box{
    color: white;
}

#dlg-form{
    color: white;
}

#game-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}