html{
    background-color: #36182c;
    font-family: 'Roboto Mono';
    font-size: 1.8vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "HUD Canvas";
}

.HUD {
    grid-area: HUD;
    text-align: right;
    color: white;
}

.Canvas {
    grid-area: Canvas;
 }

#canvas{
    background-color:  #36182c;
    z-index: 0;
    /* margin-left: auto;
    margin-right: auto; */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.dialog{
    z-index: 100;
    font-size: 2vw;
    display: inline;
}

.hidden{
    display: none;
}

#input-box{
    color: white;
}

#dlg-form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#dlg-msg{
    text-align: center;
    font-size: 3vw;
    color: purple;
}

.button-area {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

#dlg-submit{
    text-align: center;
}

#dlg-cancel{
    text-align: center;
}

#btn-cancel{
    background-color: gray;
    color: white;
}

#dlg-fields{
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   width: 100%;
   text-align: center;
   min-height: 20%;
}

.dlg-label {
    font-size: 1.5vw;
}

button {
    border-radius: 0.5rem;
    font-weight: bold;
    width: auto;
    height: auto;
}

.dialog input[type="radio"] {
    display: none;
}

.dialog input[type="radio"]:checked+label {
    background:lightslategrey;
}

.dlg-button {
    min-width: 15vmin;
    min-height: 5vmin;
    font-size: 2vmin;
}

#game-container{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
