html{
    background-color: #36182c;
}

#canvas{
    background-color:  #36182c;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dialog{
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

.hidden{
    display: none;
}

#input-box{
    color: white;
}

#dlg-form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#dlg-msg{
    text-align: center;
}

#dlg-submit{
    text-align: center;
}

#dlg-fields{
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   width: 100%;
   text-align: center;
   min-height: 20%;
}

.hide-radio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.hide-radio input[type="radio"]:checked + label {
    background-color: whitesmoke;
    color: darkslategray;
    opacity: 1;
}

#game-container{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex-margins {
  display: flex;
  justify-content: center;
}

.flex-margins .col-main {
    flex-grow: 10;
    flex-shrink: 0;
    flex-basis: 10;
    justify-content: center;
}

.flex-margins .col-margin {
    flex: 1;
    flex-grow: 0;
    flex-shrink: 10;
    display: flex;
    align-items: center;
}


@media (max-width: 400px) {
    .flex-margins .col-margin {
        display: none;
    }
    .flex-margins .col-main {
        width: 100%
    }
}